<div class="container">
  <div class="card">
    <div class="card-header">
      <h3> Contact </h3>
    </div>

    <div class="card-block">

      <label>Email: </label> <a class="col-lg" href="mailto:javad.farzaneh.v@gmail.com" target="_top">javad.farzaneh.v@gmail.com</a><br/>
      <label>LinkedIn: </label> <a class="col-lg" href="http://www.linkedin.com/in/javadfarzaneh" target="_blank">www.linkedin.com/in/javadfarzaneh</a><br/>
      <label>GitHub: </label> <a class="col-lg" href="https://github.com/parsina" target="_blank">https://github.com/parsina</a><br/>
    </div>
  </div>
</div>
