<div class="container">
  <h3 *ngIf="itemIdToUpdate; else create">
    Update Item for Id: {{itemIdToUpdate}}
  </h3>
  <ng-template #create>
    <h3> Create New Item </h3>
  </ng-template>
  <div>
    <form [formGroup]="itemForm" (ngSubmit)="onItemFormSubmit()">
      <div class="form-group row">
        <label for="nameInput" class="col-sm-2 col-form-label col-form-label-lg">Name</label>
        <div class="col-sm-10">
          <input id="nameInput" formControlName="name" class="form-control form-control-lg" placeholder="name">
          <label *ngIf="itemForm.get('name').invalid && processValidation" [ngClass]="'error'"
                 class="alert alert-danger"> Name is
            required. </label>
        </div>

        <label for="descriptionInput" class="col-sm-2 col-form-label col-form-label-lg">Description</label>
        <div class="col-sm-10">
          <input id="descriptionInput" formControlName="description" class="form-control form-control-lg"
                 placeholder="description">
          <label *ngIf="itemForm.get('description').invalid && processValidation" [ngClass]="'error'"
                 class="alert alert-danger"> description is
            required. </label>
        </div>

        <label for="refnumInput" class="col-sm-2 col-form-label col-form-label-lg">Refrence #</label>
        <div class="col-sm-10">
          <input id="refnumInput" formControlName="refnum" class="form-control form-control-lg"
                 placeholder="refrence number">
          <label *ngIf="itemForm.get('refnum').invalid && processValidation" [ngClass]="'error'"
                 class="alert alert-danger"> Refrence Number is
            required. </label>
        </div>
        <div class="col-sm-10">
          <button *ngIf="!itemIdToUpdate" class="btn btn-success">CREATE</button>
          <button *ngIf="itemIdToUpdate" class="btn btn-success">UPDATE</button>
          <button (click)="backToCreateItem()" *ngIf="itemIdToUpdate" class="btn btn-secondary">Go Back</button>
        </div>
      </div>
    </form>
    <br/>
  </div>
  <div *ngIf="allItems != null && allItems.length > 0">
    <h3>Item Details</h3>
    <table class="table table-active table-hover">
      <thead class="thead-inverse">
      <th style="text-align: center">ID</th>
      <th style="text-align: center">Name</th>
      <th style="text-align: center">Description</th>
      <th style="text-align: center">Refrence Number</th>
      <th style="text-align: center"></th>
      <th style="text-align: center"></th>
      </thead>
      <tbody>
      <tr *ngFor="let item of allItems">
        <td align="center">{{item.id}}</td>
        <td align="center">{{item.name}}</td>
        <td align="center">{{item.description}}</td>
        <td align="center">{{item.refrenceNumber}}</td>
        <td align="center">
          <button type="button" (click)="loadItemToEdit(item.id)" class="btn btn-primary btn-block">Edit</button>
        </td>
        <td align="center">
          <button type="button" (click)="deleteItem(item.id)" class="btn btn-danger btn-block">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
